page-home {
    .accordion-list {
        background: color($colors, light);
        height: 100%;
    }
    .section {
        background: #FF6F00;
        color: #fff;
        margin-bottom: 4px;
    }
    .section-active {
        background:  #FF6F00;
        color: #fff;
    }
 
    .child {
        background: #e8e7e6;
        color: #fff;
        margin-bottom: 4px;
    }
    .child-item {
        background: #f3f2f1;
        padding: 10px;
        position: relative;
        width: 100%;
        
    }
    h2 { 
        position: absolute; 
        color:#fff;
        left: 0; 
        width: 100%; 
        font-family: 'Times New Roman';
        font-size: 40;
       
     }


    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }
    
}